{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock %}

{% block body %}
<div class="register-container">
    <div class="register-left">
        <!-- Logo -->
        <div class="logo-container">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Parksy Logo">
        </div>

        <!-- Registration Form -->
        <form action="{{ url_for('auth.register') }}" method="post">
            <h2>Welcome to PARKSY!</h2>
            <p>Please fill in your details to create your account.</p>

            <div class="form-columns">
                <!-- Left Column -->
                <div class="form-col">
                    <div class="form_group">
                        <label for="username">Username</label>
                        <input required type="text" name="username" id="username">
                    </div>
                    <div class="form_group">
                        <label for="password">Password</label>
                        <input required type="password" name="password" id="password">
                    </div>
                    <div class="form_group">
                        <label for="confirm_password">Confirm Password</label>
                        <input required type="password" name="confirm_password" id="confirm_password">
                    </div>
                    <div class="form_group">
                        <label for="fname">First Name</label>
                        <input required type="text" name="fname" id="fname">
                    </div>
                    <div class="form_group">
                        <label for="lname">Last Name</label>
                        <input required type="text" name="lname" id="lname">
                    </div>
                    <div class="form_group">
                        <label for="email">Email ID</label>
                        <input required type="email" name="email" id="email">
                    </div>
                </div>

                <!-- Right Column -->
                <div class="form-col">
                    <div class="form_group">
                        <label for="ph_no">Phone Number</label>
                        <input type="number" name="ph_no" id="ph_no">
                    </div>
                    <div class="form_group">
                        <label for="age">Age</label>
                        <input required type="number" name="age" id="age" min="18">
                    </div>
                    <div class="form_group">
                        <label>Gender</label>
                        <div class="gender_group">
                            <label><input type="radio" name="gender" value="Male"> Male</label>
                            <label><input type="radio" name="gender" value="Female"> Female</label>
                            <label><input type="radio" name="gender" value="Other"> Other</label>
                        </div>
                    </div>
                    <div class="form_group">
                        <label for="reg_no">Car Reg. No.</label>
                        <input required type="text" name="reg_no" id="reg_no">
                    </div>
                    <div class="form_group">
                        <label for="city">City</label>
                        <input required type="text" name="city" id="city">
                    </div>
                    <div class="form_group">
                        <label for="state">State</label>
                        <input required type="text" name="state" id="state">
                    </div>
                </div>
            </div>

            <button type="submit">Register</button>

            <div class="switch-login">
                <p>Already have an account? <a href="{{ url_for('auth.login') }}">Login</a></p>
            </div>
        </form>
    </div>

    <!-- Right Side Illustration -->
    <div class="register-right">
        <img src="{{ url_for('static', filename='images/register.png') }}" alt="Register Illustration">
    </div>
</div>

<!-- Optional JS -->
<script src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock %}
